<h2>Lista de Empleados</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email Id</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{empleado.firstName}}</td>
      <td>{{empleado.lastName}}</td>
      <td>{{empleado.emailId}}</td>
      <td>
        <button class="btn btn-info" (click)="updateEmpleado(empleado.id)" >Actualizar</button>
        <button class="btn btn-danger" (click)="deleteEmpleado(empleado.id)" style="margin-left: 20px" >Borrar</button>
      </td>
    </tr>
  </tbody>
</table>

